html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.nav-link i {
    color: #93a1a1;
    transition: color 0.3s ease;
}

.nav-link:hover i {
    color: #6cb4d5;
}

.nav-link:focus i,
.nav-link:active i {
    color: #398cb2;
}