<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Kursova_1</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Kursova_1.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
	<header class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand fs-2" asp-controller="Home" asp-action="Index">
				Kursova
			</a>
			<a class="nav-link" asp-controller="Home" asp-action="Create">
				<i class="bi bi-plus-circle-fill" style="font-size: 2rem;"></i>
			</a>
		</div>
	</header>

	<div class="container">
		@RenderBody()
	</div>

	<footer class="footer bg-dark text-white">
		<div class="container text-center">
			<span class="text-muted">&copy; 2024 Kursova. Розроблено Вербицьким Костянтином ПІ-222Б.</span>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
